
body {
    font-family: Arial, serif;
    color: black;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 10px;
}
.left {
    left: 0;
    background-color: antiquewhite;
}
.mid {
    left: 25%;
    background-color: white;
}
.right {
    right: 0;
    background-color: lightgrey;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered img {
    width: 150px;
    border-radius: 50%;
}
div.text {
    font-size: small;
    padding: 10px;
    font-style: italic;
}
div.inverter {
    font-size: small;
    color: blue;
}
div.temperature {
    font-size: small;
    color: red;
}
div.motor {
    font-size: small;
    color: darkgreen;
}
div.pin {
    font-size: small;
    color: purple;
}
h4 {
    padding: 2px;
}
h5 {
    padding: 2px;
    font-size: small;
    font-style: italic;
}
